{%- assign has_expensive_item = false -%}
{%- assign min_spend_value = settings.min_spend | times: 100.0 -%}
{%- for item in cart.items -%}
  {%- if item.price >= min_spend_value -%}
    {%- assign has_expensive_item = true -%}
  {%- endif -%}
{%- endfor -%}
<div class="cart-shipping dynamic-rewards" 
  data-total="{{ cart.original_total_price }}" 
  data-has-expensive-item="{{ has_expensive_item }}"
  data-tier1="{{ settings.min_spend | times: 100.0 }}"
  data-tier1-msg="{{ settings.message_shipping }}"
  data-tier1-free="{{ settings.message_shipping_free }}"
  data-tier2="{{ settings.min_spend_tier2 | times: 100.0 }}"
  data-tier2-msg="{{ settings.message_tier2 }}"
  data-tier2-free="{{ settings.message_tier2_free }}"
  data-tier2-code="AUTO10"
  data-tier3="{{ settings.min_spend_tier3 | times: 100.0 }}"
  data-tier3-msg="{{ settings.message_tier3 }}"
  data-tier3-free="{{ settings.message_tier3_free }}"
  data-tier3-code="AUTO15">
  
  <div class="cart-shipping__header">
    <div class="cart-shipping__message-wrapper">
      <p class="cart-shipping__message cart-shipping__message_default small-font active"></p>
      <p class="cart-shipping__message cart-shipping__message_success small-font"></p>
    </div>
    <div class="cart-shipping__cta-wrapper">
      <a href="#" class="cart-shipping__cta-btn hidden">Apply Discount</a>
    </div>
  </div>
  
	<span class="cart-shipping__progress">
    <span class="cart-shipping__progress-current"></span>
  </span>
</div>