{{ 'section-video-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign media_size = section.settings.video_ratio

	case media_size
		when 'landscape'
			assign video_size = '56.25%'
		when 'portrait'
			assign video_size = '130%'
		when 'square'
			assign video_size = '100%'
		else
			assign video_size = '100%'
	endcase
%}

{%- style -%}
	#shopify-section-{{ section.id }} {
		--video_size: {{ video_size }};
	}
{%- endstyle -%}

<div class="video-with-text color-{{ section.settings.color_scheme }} background">
	<div class="container">
		<div class="video-with-text__wrapper {% if section.settings.video_position == 'video_right' %}video_right{% endif %} section-{{ section.id }}-padding">
			<div class="video-with-text__media">
				{%- if section.settings.video_url != blank -%}
					{%- liquid
						if section.settings.video_autoplay == false
							assign video_autoplay = false
						else
							assign video_autoplay = true
						endif
						assign show_controls = section.settings.show_video_controls | default: false
						unless video_autoplay
							assign show_controls = true
						endunless
					-%}
					{%- if section.settings.video_url.type == 'youtube' -%}
						<iframe
							src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1{%- if video_autoplay -%}&autoplay=1&mute=1{%- endif -%}{%- if show_controls != true -%}&controls=0{%- endif -%}{%- if section.settings.video_loop -%}&playlist={{ section.settings.video_url.id }}&loop=1{%- endif -%}"
							class="video-with-text__iframe js-youtube"
							allow="autoplay; encrypted-media"
							allowfullscreen
							title="{{ section.settings.heading | escape }}"
						></iframe>
					{%- elsif section.settings.video_url.type == 'vimeo' -%}
						<iframe
							src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay={%- if video_autoplay -%}true{%- else -%}false{%- endif -%}&muted={%- if video_autoplay -%}true{%- else -%}false{%- endif -%}{%- if show_controls != true -%}&controls=false{%- endif -%}{%- if section.settings.video_loop -%}&loop=true{%- endif -%}"
							class="video-with-text__iframe js-vimeo"
							allow="autoplay; encrypted-media"
							allowfullscreen
							title="{{ section.settings.heading | escape }}"
						></iframe>
					{%- endif -%}
				{%- elsif section.settings.video != blank -%}
					{% liquid
						assign video_height = section.settings.video.sources[0].width | divided_by: section.settings.video.aspect_ratio
						if section.settings.video_autoplay == false
							assign native_video_autoplay = false
						else
							assign native_video_autoplay = true
						endif
						assign native_show_controls = section.settings.show_video_controls | default: false
						unless native_video_autoplay
							assign native_show_controls = true
						endunless
					%}
					{{
						section.settings.video
						| video_tag:
							width: section.settings.video.sources[0].width,
							height: video_height,
							autoplay: native_video_autoplay,
							loop: true,
							controls: native_show_controls,
							muted: native_video_autoplay,
							playsinline: true
					}}
				{%- else -%}
					{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
				{%- endif -%}
			</div>
			<div class="video-with-text__content">
				{%- if section.settings.subheading != blank -%}
					<div class="video-with-text__subtitle subtitle">
						{{ section.settings.subheading }}
					</div>
				{%- endif -%}
				{%- if section.settings.heading != blank -%}
					{% capture video_with_text_heading_inner %}
						{{ section.settings.heading }}
					{% endcapture %}
					{% render 'heading-element',
						tag: section.settings.heading_tag,
						default_tag: 'h2',
						class: 'video-with-text__heading',
						content: video_with_text_heading_inner
					%}
				{%- endif -%}
				{%- if section.settings.text != blank -%}
					<div class="video-with-text__text richtext__content">
						{{ section.settings.text }}
					</div>
				{%- endif -%}
				<div class="video-with-text__button-wrapper">
					{% render 'button', layout: section %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.video-with-text.name",
	"tag": "section",
	"class": "video-with-text-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "video_position",
			"label": "t:sections.video-with-text.settings.video_position.label",
			"default": "video_left",
			"options": [
				{
					"value": "video_left",
					"label": "t:sections.video-with-text.settings.video_position.options__1.label"
				},
				{
					"value": "video_right",
					"label": "t:sections.video-with-text.settings.video_position.options__2.label"
				}
			]
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "header",
			"content": "t:sections.video-with-text.settings.header_video.content"
		},
		{
			"type": "video_url",
			"id": "video_url",
			"accept": ["youtube", "vimeo"],
			"label": "t:sections.video-with-text.settings.video_url.label",
			"info": "t:sections.video-with-text.settings.video_url.info"
		},
		{
			"type": "video",
			"id": "video",
			"label": "t:sections.video-with-text.settings.video.label",
			"info": "t:sections.video-with-text.settings.video.info"
		},
		{
			"type": "select",
			"id": "video_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "landscape",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "checkbox",
			"id": "video_loop",
			"default": true,
			"label": "t:sections.video-with-text.settings.video_loop.label"
		},
		{
			"type": "checkbox",
			"id": "show_video_controls",
			"default": false,
			"label": "t:sections.video-with-text.settings.show_video_controls.label"
		},
		{
			"type": "checkbox",
			"id": "video_autoplay",
			"default": true,
			"label": "t:sections.video-with-text.settings.video_autoplay.label",
			"info": "t:sections.video-with-text.settings.video_autoplay.info"
		},
		{
			"type": "header",
			"content": "t:sections.video-with-text.settings.header_text.content"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.video-with-text.settings.subheading.default",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "t:sections.video-with-text.settings.heading.default",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "select",
			"id": "heading_tag",
			"label": "t:sections.all.heading.tag.label",
			"info": "t:sections.all.heading.tag.info",
			"options": [
				{ "value": "h1", "label": "t:sections.all.heading.tag.options.h1.label" },
				{ "value": "h2", "label": "t:sections.all.heading.tag.options.h2.label" },
				{ "value": "h3", "label": "t:sections.all.heading.tag.options.h3.label" },
				{ "value": "h4", "label": "t:sections.all.heading.tag.options.h4.label" },
				{ "value": "h5", "label": "t:sections.all.heading.tag.options.h5.label" },
				{ "value": "h6", "label": "t:sections.all.heading.tag.options.h6.label" },
				{ "value": "div", "label": "t:sections.all.heading.tag.options.div.label" },
				{ "value": "span", "label": "t:sections.all.heading.tag.options.span.label" },
				{ "value": "p", "label": "t:sections.all.heading.tag.options.p.label" }
			],
			"default": "h2"
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "t:sections.video-with-text.settings.text.default",
			"label": "t:sections.all.description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "t:sections.video-with-text.settings.button_label.default",
			"label": "t:sections.all.button.label.label",
			"info": "t:sections.all.button.label.info"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.style.options__2.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.style.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.link.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.video-with-text.presets.name"
		}
	]
}
{% endschema %}
